/* ComingSoon.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #f3f4f6;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 0 20px;
}

.card {
  background: rgba(255, 255, 255, 0.85);
  padding: 40px;
  border-radius: 10px;
  max-width: 600px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.description {
  font-size: 1rem;
  line-height: 1.5;
}

.features-list {
  text-align: left;
  line-height: 1.5;
  font-size: 1rem;
}

.features-list li {
  margin: 5px 0;
}

.home-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #76ABAE;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #5c8d91;
}
