/* Courses.css */

.courses-container {
    text-align: center;
    margin-top: 50px;
}

.title {
    font-size: 36px;
    margin-top: 20px;
}

.courses-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.course-card {
    width: 300px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.course-name {
    font-size: 24px;
    margin-bottom: 10px;
}

.course-offer {
    font-size: 16px;
    margin-bottom: 20px;
    color: #666;
}

.view-course-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.view-course-btn:hover {
    background-color: #0056b3;
}
.navbar {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f8f3f3;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
}

.navbar li {
    width: 100%;
    margin: 0 10px;
}

.navbar li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(12, 12, 12);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a span {
    display: none;
    margin-left: 10px;
}

.navbar li a:hover span {
    display: inline;
}

.navbar li a:hover {
    background-color: #f9f4f4;
}
