body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://ik.imagekit.io/yash13/pg.jpg?updatedAt=1716277058463");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* This makes the background image static */
}

.home {
    text-align: center;
    padding: 100px 20px;
}
h1 {
    text-size-adjust: 100px;
}

.navbar {
    width: 100%;
    height: 80px;
    background: #76ABAE;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    align-content: center;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-logo {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}
.nav-logo-img {
    margin-Left: 10px;
    width: 40px;
    height: auto;
}

.nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 20px;
}

.nav-links {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links:hover {
    text-decoration: underline;
    background-color: #609396;
}

.home-content {
    max-width: 800px;
    margin: 120px auto 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.title {
    font-size: 36px;
    color: #333;
}

.description {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #ffffff;
    background: #76ABAE;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
    margin-bottom: 15px;
}

.cta-button:hover {
    background: #609396;
}

@media (max-width: 768px) {
    .navbar-container {
        padding: 0 10px;
    }

    .nav-logo {
        font-size: 28px;
    }

    .nav-item {
        margin-left: 10px;
    }

    .nav-links {
        font-size: 14px;
    }

    .home-content {
        max-width: 100%;
        margin: 100px 10px 0 10px;
        padding: 10px;
    }

    .title {
        font-size: 28px;
    }

    .description {
        font-size: 16px;
    }

    .cta-button {
        padding: 8px 16px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .navbar-container {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .nav-menu {
        flex-direction: column;
        width: 100%;
    }

    .nav-item {
        margin-top: 10px;
    }

    .home-content {
        margin: 80px 5px  5px;
    }

    .title {
        font-size: 24px;
    }

    .description {
        font-size: 14px;
    }

    .cta-button {
        padding: 6px 12px;
        font-size: 14px;
    }
}
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    z-index: 1000; /* Ensure loader appears above other content */
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #090909; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Rotate animation */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
