.profile {
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1c1b1b91;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 200px;
}

.profile h1 {
    font-size: 2.5rem;
    color: #edeee1;
}

.profile p {
    font-size: 1.2rem;
    color: #ebe5e5;
    margin: 10px 0;
}

.profile a {
    display: inline-block;
    color: white;
    background-color: #007BFF;
    border: none;
    padding: 12px 24px;
    margin-top: 24px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.profile a:hover {
    background-color: #0056b3;
}